{% extends 'BaseUI/BaseFacility/baseMitigation.html' %}
{% load staticfiles %}
{% load static %}
<!-------------- BLOCK MENU ---------------->
{% block listfaci %}{% url 'facilitiesDisplay' siteID %}{% endblock %}
{% block newfaci %}{% url 'facilitiesNew' siteID %}{% endblock %}
{% block design %}{% url 'designcodeDisplay' siteID %}{% endblock %}
{% block manu %}{% url 'manufactureDisplay' siteID %}{% endblock %}
{% block uploadInsp %}{% url 'upload' siteID %}{% endblock %}
{% block uploadPlant %}{% url 'uploadPlan' siteID %}{% endblock %}
{#{% block uploadScada %}{% url 'uploadScada' siteID %}{% endblock %}#}
{% block inspecPlan %}{% url 'inspectionPlan' siteID %}{% endblock %}
{% block rbitracking %}{% url 'rbitracking' %}{% endblock %}
{% block mitigationSite %}{% url 'mitigationSite' siteID%}{% endblock %}
<!----------------- END BLOCK----------------->
