{% extends 'BaseUI/BaseManager/baseManager.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Tóm tắt<br>rủi ro{% endblock %}

{% block vertical %}
    <a class="active">Tóm tắt<br>rủi ro</a>
    <a href="{% block pof %}{% endblock %}" class="{% if page == 'damageFactor' %}activeLink{% endif %}"><i class="fa fa-bomb">&emsp;Xác suất<br>&emsp;&emsp; thất bại</i></a>
    <a href="{% block ca%}{% endblock %}" class="{% if page == 'fullyConse' %}activeLink{% endif %}"><i class="fa fa-money">&emsp;Hậu quả<br>&emsp;&emsp; thất bại</i></a>
    <a href="{% block matrix %}{% endblock %}" class="{% if page == 'riskMatrix' %}activeLink{% endif %}"><i class="fa fa-th">&emsp;Ma trận rủi ro</i></a>
    <a href="{% block chart %}{% endblock %}" class="{% if page == 'riskChart' %}activeLink{% endif %}"><i class="fa fa-bar-chart-o">&emsp;Biểu đồ rủi ro</i></a>
    <a href="{% block backProposal %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;Quay lại mục bản ghi</i></a>
{% endblock %}