{% extends 'BaseUI/BaseFacility/baseProposal.html' %}
{#{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}#}

<!-------------- BLOCK MENU ---------------->
{#{% block listProposal %}{% url 'proposalDisplay' componentID %}{% endblock %}#}

<!----------------- END BLOCK----------------->
{% block title %}Xem bản ghi Excel{% endblock %}
{% block vertical %}
{% endblock %}
{% block data-content %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
div.a {
  white-space: nowrap;
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.a:hover {
  overflow: visible;
}
#searchs{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
.city{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
#search3{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
#proposal
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
#search2{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
#searchs td,#searchs th {
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
.city td, .city th{
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
#search2 th,#search2 td{
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
#search3 th,#search3 td{
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
#proposal th,#proposal td{
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
#searchs tr:nth-child(even){background-color: #f2f2f2;}
.city tr:nth-child(even){background-color: white;}
#search2 tr:nth-child(even){background-color: #f2f2f2;}
#search3 tr:nth-child(even){background-color: #f2f2f2;}
#proposal tr:nth-child(even){background-color: #f2f2f2;}
#searchs tr:hover {background-color: #f2f2f2;}
.city tr:hover {background-color: #f2f2f2;}
#search2 tr:hover {background-color: #f2f2f2;}
#search3 tr:hover {background-color: #f2f2f2;}
#proposal tr:hover {background-color: #f2f2f2;}

#searchs th {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #305680;
  color: white;
}
.city th {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #305680;
  color: white;
}
#search2 th{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #305680;
  color: white;
}
#search3 th{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color :#305680;
  color: white;
}
#proposal th{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #305680;
  color: white;
}

.containerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    padding: 2px;
    background: white;
    min-width: 1250px;
    height: 230px;
    margin: auto;
}

.flexitem {
    width: 530px;
    height: 220px;
    padding: 0px;
    background: #0AA6DB;
    margin: 1px;
    font-weight: bold;
}
</style>
<form id="inspectionplan2" method="post" >
    {% csrf_token %}
    <div class="container">
        <div class="city">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#process" style="padding-top: 2px;padding-bottom: 2px;background-color: #305680;color: #ffffff;">Tóm tắt rủi ro</a></li>
                        <li><a data-toggle="pill" style="padding-top: 2px;padding-bottom: 2px;background-color: #305680;color: #ffffff;" href="#tank">Chi tiết Tóm tắt Rủi ro</a></li>
                        <li><a data-toggle="pill" style="padding-top: 2px;padding-bottom: 2px;background-color: #305680;color: #ffffff;" href="#inspection">Kế hoạch kiểm định</a></li>
                    </ul>
                    <div class="tab-content">
                        <!---------------- Process Plant------------------>
                        <div id="process" class="tab-pane fade in active">
                            <div class="city" style="font-size: 13px; color: #444444;background-color:white">
                                <div class="container">
                                    <div class="table-responsive">
                                    <table width=100% id="testing">
                                        <thead>
                                        <tr>
                                          <!--<th style="background-color:#387BF9;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="17"><input type = "button" name = "-" id="portests1" style="color:black;" value = "Proposal"></th>-->
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Nhận dạng</th>
                                            <th>Thiết bị</th>
                                            <th>Mô tả thiết bị</th>
                                            <th>Loại thiết bị</th>
                                            <th>Thành phần</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.equipment_name }}</div></td>
                                            <td><div class="a">{{ obj.equipment_desc }}</div></td>
                                            <td><div class="a">{{ obj.equipment_type }}</div></td>
                                            <td><div class="a">{{ obj.component_name }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Đại diện cho chất lỏng</th>
                                            <th>Đại diện cho chất lỏng</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.fluid }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Đại diện cho chất lỏng</th>
                                            <th>Pha chất lỏng</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.fluid_phase }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Thiệt hại (COF)</th>
                                            <th>Rủi ro hiện tại</th>
                                            <th>Cofcat.Flammable</th>
                                            <th>Cofcat.People</th>
                                            <th>Cofcat.Asset</th>
                                            <th>Cofcat.Env</th>
                                            <th>Cofcat.Reputation</th>
                                            <th>Cofcat.Combined</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">N/A</div></td>
                                            <td><div class="a">{{ obj.flamablecv }}</div></td>
                                            <td><div class="a">{{ obj.injcv }}</div></td>
                                            <td><div class="a">{{ obj.businesscv }}</div></td>
                                            <td><div class="a">{{ obj.envcv }}</div></td>
                                            <td><div class="a">N/A</div></td>
                                            <td><div class="a">{{ obj.consequencecv }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Mức độ thành phần của vật liệu</th>
                                            <th>Mức độ thành phần của vật liệu</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a"></div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Xác suất (POF)</th>
                                            <th>InitThinning<br>POFcatalog</th>
                                            <th>InitEnv.Cracking</th>
                                            <th>InitOtherPOFCatalog</th>
                                            <th>InitPOFCatelog</th>
                                            <th>ExtThinningPOF</th>
                                            <th>ExtEnvCracking<br>ProbabilityCatelog</th>
                                            <th>ExtOtherPOFCatelog</th>
                                            <th>ExtPOFCatelog</th>
                                            <th>POFCategory</th>

                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.init_thinningcv }}</div></td>
                                            <td><div class="a">{{ obj.init_crackingcv }}</div></td>
                                            <td><div class="a">{{ obj.init_othercv }}</div></td>
                                            <td><div class="a">{{ obj.init_pofcv }}</div></td>
                                            <td><div class="a">{{ obj.ext_thinningcv }}</div></td>
                                            <td><div class="a">N/A</div></td>
                                            <td><div class="a">N/A</div></td>
                                            <td><div class="a">{{ obj.ext_thinningcv }}</div></td>
                                            <td><div class="a">{{ obj.pof_catalogcv }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Rủi ro</th>
                                            <th>Rủi ro hiện tại</th>
                                            <th>Rủi ro tương lai</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.riskcv }}</div></td>
                                            <td><div class="a">{{ obj.risk_futurecv }}</div></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tank" class="tab-pane fade">
                            <div class="city" style="font-size: 13px; color: #444444;background-color:white">
                                <div class="container">
                                    <div class="table-responsive">
                                    <table width=100% id="testing">
                                        <thead>
                                        <tr>
                                          <!--<th style="background-color:#387BF9;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="17"><input type = "button" name = "-" id="portests1" style="color:black;" value = "Proposal"></th>-->
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Nhận dạng</th>
                                            <th>Thiết bị</th>
                                            <th>Mô tả thiết bị</th>
                                            <th>Loại thiết bị</th>
                                            <th>Thành phần</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.equipment_name }}</div></td>
                                            <td><div class="a">{{ obj.equipment_desc }}</div></td>
                                            <td><div class="a">{{ obj.equipment_type }}</div></td>
                                            <td><div class="a">{{ obj.component_name }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Đại diện cho chất lỏng</th>
                                            <th>Đại diện cho chất lỏng</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.fluid }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Phát tán chất lỏng</th>
                                            <th>Pha chất lỏng</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.fluid_phase }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Thiệt hại (COF)</th>
                                            <th>Rủi ro hiện tại</th>
                                            <th>Cofcat.Flammable</th>
                                            <th>Cofcat.People</th>
                                            <th>Cofcat.Asset</th>
                                            <th>Cofcat.Env</th>
                                            <th>Cofcat.Reputation</th>
                                            <th>Cofcat.Combined</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">N/A</div></td>
                                            <td><div class="a">{{ obj.flamable }}</div></td>
                                            <td><div class="a">{{ obj.inj }}</div></td>
                                            <td><div class="a">{{ obj.business }}</div></td>
                                            <td><div class="a">{{ obj.env }}</div></td>
                                            <td><div class="a">N/A</div></td>
                                            <td><div class="a">{{ obj.consequence }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Mức độ thành phần của vật liệu</th>
                                            <th>Mức độ thành phần của vật liệu</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a"></div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Xác suất (POF)</th>
                                            <th>InitThinning<br>POFcatalog</th>
                                            <th>InitEnv.Cracking</th>
                                            <th>InitOtherPOFCatalog</th>
                                            <th>InitPOFCatelog</th>
                                            <th>ExtThinningPOF</th>
                                            <th>ExtEnvCracking<br>ProbabilityCatelog</th>
                                            <th>ExtOtherPOFCatelog</th>
                                            <th>ExtPOFCatelog</th>
                                            <th>POFCategory</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.init_thinning }}</div></td>
                                            <td><div class="a">{{ obj.init_cracking }}</div></td>
                                            <td><div class="a">{{ obj.init_other }}</div></td>
                                            <td><div class="a">{{ obj.init_pof }}</div></td>
                                            <td><div class="a">{{ obj.ext_thinning }}</div></td>
                                            <td><div class="a">N/A</div></td>
                                            <td><div class="a">N/A</div></td>
                                            <td><div class="a">{{ obj.ext_thinning }}</div></td>
                                            <td><div class="a">{{ obj.pof_catalog }}</div></td>
                                        </tr>
                                        <tr>
                                            <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="0" rowspan="2">Rủi ro</th>
                                            <th>rủi ro hiện tại</th>
                                            <th>rủi ro tương lai</th>
                                        </tr>
                                        <tr>
                                            <td><div class="a">{{ obj.risk }}</div></td>
                                            <td><div class="a">{{ obj.risk_future }}</div></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="inspection" class="tab-pane fade">
                            <div class="city" style="font-size: 13px; color: #444444;background-color:white">
                                <div class="container">
                                    <div class="table-responsive">
                                    <table width=100% id="testing">
                                        <thead>
                                        <tr>
                                          <!--<th style="background-color:#387BF9;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="17"><input type = "button" name = "-" id="portests1" style="color:black;" value = "Proposal"></th>-->
                                          <th style="background-color:#DB812D;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="9">Kế hoạch kiểm định</th>
                                        </tr>
                                        <tr>
                                            <th>Thiết bị</th>
                                            <th>Tên thành phần</th>
                                            <th>Cơ chế thiệt hại</th>
                                            <th>Phương pháp</th>
                                            <th>Phạm vi</th>
                                            <th>Khả dụng</th>
                                            <th>Ngày kiểm định cuối</th>
                                            <th>Khoảng thời gian kiểm tra, năm</th>
                                            <th>Hạn kiểm định</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><div class="a">{{ obj1.Equipment }}</div></td>
                                                <td><div class="a">{{ obj1.System }}</div></td>
                                                <td><div class="a">{{ obj1.Damage }}</div></td>
                                                <td><div class="a">{{ obj1.Method }}</div></td>
                                                <td><div class="a">{{ obj1.Coverage }}</div></td>
                                                <td><div class="a">{{ obj1.Avaiable }}</div></td>
                                                <td><div class="a">{{ obj1.Last }}</div></td>
                                                <td><div class="a">{{ obj1.Interval }}</div></td>
                                                <td><div class="a">{{ obj1.Duedate }}</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>

            <a href="{% url 'exportData' id 'Proposal' %}"><img src="/static/image/logo/excel-download.png" alt="Download" style="width: 20%;height: 20%"></a>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="background-color: #34835c">Chi tiết</button>
        </div>
    </div>
    </div>
    <!--Modal-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Chi tiết</h4>
            </div>
            <div class="modal-body" >
                <h4>&ensp; <b><u> Tóm tắt rủi ro</u></b></h4>
                <p>Tóm tắt rủi ro là bảng thống kê tổng quát bản kiểm định, bao gồm các thông sô như tên thiết bị, loại thiết bị, kết quả tính toán tổng quan,...
                    Trong trang Tóm tắt rủi ro có các trường cột:</p>
                <p>&nbsp; <b>Nhận dạng:</b> bao gồm tên thiết bị, chi tiết thiết bị, loại thiết bị và các thành phần</p>
                <p>&nbsp; <b>:</b> chứa thông tin chất lỏng, pha của chất lỏng</p>
                <p>&nbsp; <b>Thiệt hại(COF)</b> bao gồm các thiệt hại lần lượt về hiện tại, cháy nổ, con người, tài sản, môi trường, uy tín...</p>
                <p>&nbsp; <b>Xác suất(POF)</b> bao gồm xác xuất hư hại lần lượt như làm mỏng, bẻ gãy, ăn mòn,..</p>
                <p>&nbsp; <b>Rủi ro</b> là tổng quan rủi ro bao gồm hiện tại và sau này </p>
                <h4>&ensp; <b><u>Tóm tắt rủi ro chi tiết</u></b></h4>
                <p>Cũng giống như các trường bên Tóm tắt rủi ro thì Tóm tắt rủi ro chi tiết thay vì hiển thị tổng quan các kết quả thì sẽ hiển thị chi tiết kết quả</p>
                <h4>&ensp; <b><u> Kế hoạch kiểm định</u></b></h4>
                <p>Đây là bảng chứa các dữ liệu liên quan đến việc lập kế hoạch kiểm định, phương pháp cũng như ngày kiểm định</p>
                <p>&nbsp; <b>Cơ chế thiệt hại</b> là hư hại mà thiết bị đang có</p>
                <p>&nbsp; <b>Phương pháp</b> đây là phương pháp kiểm định</p>
                <p>&nbsp; <b>Ngày kiểm định/ ngày đến hạn</b> là ngày kiểm định gần nhất và ngày kiểm định kế tiếp</p>
                <p>&nbsp; <b>Khoảng thời gian kiểm tra, năm</b> là thời gian giữa ngày kiểm định gần nhất và ngày kiểm định tiếp theo</p>
                <h4>&ensp; <b><u> Giải thích các đại lượng</u></b></h4>
                <p>A,B,C,D,E: là mức độ xác suất gây hại từ thấp lên cao</p>
                <p>1,2,3,4,5: là mức độ thiệt hại từ thấp lên cao</p>
                <p>Medium High, High, Medium, Low, N/A: là mức độ đánh giá rủi ro từ cao xuống thấp, N/A nghĩa là gần như không có rủi ro thiệt hại nào</p>
                <p><b><u>NOTE:</u></b> Kết quả này được đánh giá dựa theo kết quả bên bảng Tóm tắt rủi ro chi tiết</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
          </div>
    </div>
  </div>
</form>
{% endblock %}