{% extends 'BaseUI/BaseFacility/baseComponent.html' %}

{% block library %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

<!--------------- BLOCK MENU ------------>
{% block listcomp %}{% url 'componentDisplay' equipmentID %}{% endblock %}
{% block newcomp %}{% url 'componentNew' equipmentID %}{% endblock %}
{% block backeq %}{% url 'equipmentDisplay' facilityID %}{% endblock %}
<!-------------- END BLOCK ------------->

{% block data-content %}
<style>
.alert {
  padding: 10px;
  background-color: #ff9800;
  color: white;
  opacity: 1;
  transition: opacity 0.0s;
  margin-bottom: 15px;
  font-size: 17px
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 25px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.0s;
}
.alert.success {background-color: #4CAF50;}
.closebtn:hover {
  color: black;
}
</style>
    <form method="post">
    {% csrf_token %}
        <div style="text-align: right;">
            <input type="text" class="search-field" placeholder="Search Component..." value="" name='searchComponent'>
            <button type="submit" name="_search" id="search" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <div>
            {% if faci %}<a href="{% url 'equipmentDisplay' faci.facilityid %}">{{ faci.facilityname }}</a>{% endif %} <span class="fa fa-angle-right"></span>
            {% if eq %}<a href="{% url 'componentDisplay' eq.equipmentid %}">{{ eq.equipmentname }}</a>{% endif %}
        </div>
        <div style="text-align: center">
            <caption><b>Danh sách thành phần</b></caption>
            <br><br>
            <table class="table" id="mytable">
                <thead>
                    <tr>
                        <th width="100px" style="text-align: left"><input type="checkbox" id="chkHeader"></th>
                        <th width="200px" style="text-align: left"><i class="fa fa-fax"></i>&ensp;Số thành phần </th>
                        <th width="200px" style="text-align: left"><i class="fa fa-tag"></i>&ensp;Tên thành phần</th>
                        <th width="200px" style="text-align: left"><i class="fa fa-tag"></i>&ensp;Loại thành phần</th>
                        <th width="200px" style="text-align: left"><i class="fa fa-tag"></i>&ensp;Thời gian tạo</th>
                    </tr>
                </thead>
                <tbody>
                {% if error.exist %}
                <div class="alert">
                    <span class="closebtn">&times;</span>
                    <strong>Không tìm thấy kết quả trả về!</strong> {{error.exist}}
                    <h4 style="text-align:left">Gợi ý:</h4>
                    <ul style="text-align:left">
                      <li>Hãy chắc chắn rằng bạn nhập đúng từng ký tự theo các đánh vần.</li>
                      <li>Hãy thử tìm kiếm một từ khác.</li>
                      <li>Hãy sử dụng ký tự bình thường.</li>
                    </ul>
                </div>
                <script>
                var close = document.getElementsByClassName("closebtn");
                var i;

                for (i = 0; i < close.length; i++) {
                  close[i].onclick = function(){
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function(){ div.style.display = "none"; }, 600);
                  }
                }
                </script>
                {% else %}
                    {% if result.data %}
                    <div class="alert success">
                        <span class="closebtn">&times;</span>
                        <strong>Kết quả!</strong>{{result.data}}
                    </div>
                    {% endif %}
                    {% for a in obj %}
                    <tr>
                        <td style="text-align: left"><input type="checkbox" id="checkbox" name="{{ a.ID }}"></td>
                        <td style="text-align: left"><a href="{% url 'proposalDisplay' a.ID %}">{{ a.ComponentNumber }}</a></td>
                        <td style="text-align: left">{{ a.ComponentName }}</td>
                        <td style="text-align: left">{{ a.ComponentType }}</td>
                        <td style="text-align: left">{{ a.Created }}</td>
{#                        <td align="center"><a href="{% url 'exportData' a.componentid 'Component'%}"><i class="fa fa-print" ></i></a></td>#}
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

                     {#          Pagination div  #}
            <div>
                {% if obj.has_other_pages %}
              <ul class="pagination">
                {% if obj.has_previous %}
                  <li><a href="?page={{ obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in obj.paginator.page_range %}
                  {% if obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if obj.has_next %}
                  <li><a href="?page={{ obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>


{#            tool div #}
            <br>
            <div>
                <button type="submit" name="_edit" class="btn btn-primary"  id="edit" disabled><i class="fa fa-pencil">&emsp;Chỉnh sửa</i></button>
                <button type="submit" name="_delete" class="btn btn-warning" id="sub" onclick="return confirm('Bạn có chắc chắn muốn xóa thành phần này?');" disabled ><i class="fa fa-trash-o" >&emsp;Xóa mục đã chọn</i></button>
                <button type="submit" name="_new" class="btn btn-primary"><i class="fa fa-pencil">&emsp;Tạo thành phần mới</i></button>
            </div>
            <script>

                    $("input[id='checkbox']").change(function (e) {
                        var isChecked = $(this).prop("checked");
                        if (isChecked == false) {
                            $("#edit").attr("disabled", true);
                            $("#sub").attr("disabled", true);
                        }
                        else {
                            $("#edit").attr("disabled", false);
                            $("#sub").attr("disabled", false);
                        }
                    });
            </script>

        </div>
    </form>
{% endblock %}