{% extends 'BaseUI/BaseFacility/baseRiskSummary.html' %}

{% load staticfiles %}

<!----------------BLOCK MENU--------------->

{% block pof %}{% url 'damgeFactor' proposalID %}{% endblock %}
{% block fcof %}{% url 'fullyConsequence' proposalID %}{% endblock %}
{% block acof %}{% url 'areaBasedCoF' proposalID %}{% endblock %}
{% block matrix %}{% url 'riskMatrix' proposalID %}{% endblock %}
{% block chart %}{% url 'riskChart' proposalID %}{% endblock %}
{% block backProposal %}{% url 'proposalDisplay' ass.componentid_id %}{% endblock %}
<!---------------END BLOCK--------------->

{% block data-content %}
    <!--suppress ALL -->
    <form method="post">
    {% csrf_token %}
        <div class="input-data">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Area-based CoF</b></legend>

                <!-----------BlOCK FULLY QUANTITIVE FCOF AND CATEGORY--------->
                <fieldset class="scheduler-border" >
                    <legend class="scheduler-border"><b>Giá trị trung gian</b></legend>
                    <div class="row">
                        <div class="col-md-4">Độ dẫn thủy lực đối với nước</div>
                        <div class="col-md-2">{{ data.hydraulic_water }}</div>                    <!---contain data get from database---->
                    </div>
                    <div class="row">
                        <div class="col-md-4">Độ dẫn thủy lực đối với chất lỏng</div>
                        <div class="col-md-2">{{ data.hydraulic_fluid }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Vận tốc thấm </div>
                        <div class="col-md-2">{{ data.product_velocity }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Kích thước khu vực</div>
                        <div class="col-md-2">S:{{ data.area_small }}</div>
                        <div class="col-md-2">M:{{ data.area_medium }}</div>
                        <div class="col-md-2">L:{{ data.area_large }}</div>
                        <div class="col-md-2">R:{{ data.area_rupture }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Lưu lượng dòng chảy</div>
                        <div class="col-md-2">D1:{{ data.flow_rate_d1 }}</div>
                        <div class="col-md-2">D2:{{ data.flow_rate_d2 }}</div>
                        <div class="col-md-2">D3:{{ data.flow_rate_d3 }}</div>
                        <div class="col-md-2">D4:{{ data.flow_rate_d4 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Chiều cao chất lỏng trên vỏ </div>
                        <div class="col-md-2">{{ data.liquid_height_shell }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Giá trị của chất lỏng bên trên vỏ</div>
                        <div class="col-md-2">{{ data.fluid_above }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Thời gian rò rỉ</div>
                        <div class="col-md-2">D1:{{ data.leak_duration_d1 }}</div>
                        <div class="col-md-2">D2:{{ data.leak_duration_d2 }}</div>
                        <div class="col-md-2">D3:{{ data.leak_duration_d3 }}</div>
                        <div class="col-md-2">D4:{{ data.leak_duration_d4 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Lượng chất lỏng phát tán do rò rỉ</div>
                        <div class="col-md-2">D1:{{ data.release_volume_leak_d1 }}</div>
                        <div class="col-md-2">D2:{{ data.release_volume_leak_d2 }}</div>
                        <div class="col-md-2">D3:{{ data.release_volume_leak_d3 }}</div>
                        <div class="col-md-2">D4:{{ data.release_volume_leak_d4 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Lượng chất lỏng phát tán do vết nứt</div>
                        <div class="col-md-2">{{ data.release_volume_leak_d4 }}</div>
                    </div>
                </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Hậu quả của cháy nổ</b></legend>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">{{ data.model_fluid }}</legend>
                    <div class="row">
                            <div class="col-md-8"><b>Release equations contants</b></div>
                            <div class="col-md-2"><b>A</b></div>
                            <div class="col-md-2"><b>B</b></div>
                    </div>
                    <div class="row">
                           <div class="col-md-8">Phát tán liên tục - Tự động - Không có khả năng đánh lửa </div>
                           <div class="col-md-2">{{ data.cainl_cmd_a }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">{{ data.cainl_cmd_b }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-8">Phát tán liên tục - Tự động - Có thể Đánh lửa  </div>
                           <div class="col-md-2">{{ data.cail_cmd_a }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">{{ data.cail_cmd_b }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-8">Phát tán tức thời - Tự động - Không có khả năng đánh lửa  </div>
                           <div class="col-md-2">{{ data.cainl_inj_a }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">{{ data.cainl_inj_b }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-8">Phát tán tức thời - Tự động - Có thể đánh lửa  </div>
                           <div class="col-md-2">{{ data.cail_inj_a }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">{{ data.cail_inj_b }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><b>Kích thước lỗ phát tán</b> </div>
                           <div class="col-md-2"><b>Nhỏ</b></div>             <!-----contain data get from database---------->
                           <div class="col-md-2"><b>Trung bình</b></div>
                           <div class="col-md-2"><b>To</b></div>
                           <div class="col-md-2"><b>Nứt gãy</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Tỉ lệ phát tán (Kg/s)</div>
                           <div class="col-md-2">{{ data.release_rate_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">{{ data.release_rate_2 }}</div>
                           <div class="col-md-2">{{ data.release_rate_3 }}</div>
                           <div class="col-md-2">{{ data.release_rate_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">CONT-CMD-AINL CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.ca_cmd_ainl_cont_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.ca_cmd_ainl_cont_2 }}</div>
                           <div class="col-md-2">D3:{{ data.ca_cmd_ainl_cont_3 }}</div>
                           <div class="col-md-2">D4:{{ data.ca_cmd_ainl_cont_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">CONT-CMD-AIL CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.ca_cmd_ail_cont_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.ca_cmd_ail_cont_2 }}</div>
                           <div class="col-md-2">D3:{{ data.ca_cmd_ail_cont_3 }}</div>
                           <div class="col-md-2">D4:{{ data.ca_cmd_ail_cont_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">CONT-INJ-AINL CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.ca_inj_ainl_cont_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.ca_inj_ainl_cont_2 }}</div>
                           <div class="col-md-2">D3:{{ data.ca_inj_ainl_cont_3 }}</div>
                           <div class="col-md-2">D4:{{ data.ca_inj_ainl_cont_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">CONT-INJ-AIL CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.ca_inj_ail_cont_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.ca_inj_ail_cont_2 }}</div>
                           <div class="col-md-2">D3:{{ data.ca_inj_ail_cont_3 }}</div>
                           <div class="col-md-2">D4:{{ data.ca_inj_ail_cont_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">Blended-CMD-AINL CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.blend_ca_cmd_ainl_cont_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.blend_ca_cmd_ainl_cont_2 }}</div>
                           <div class="col-md-2">D3:{{ data.blend_ca_cmd_ainl_cont_3 }}</div>
                           <div class="col-md-2">D4:{{ data.blend_ca_cmd_ainl_cont_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">Blended-CMD-AIL CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.blend_ca_cmd_ail_cont_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.blend_ca_cmd_ail_cont_2 }}</div>
                           <div class="col-md-2">D3:{{ data.blend_ca_cmd_ail_cont_3 }}</div>
                           <div class="col-md-2">D4:{{ data.blend_ca_cmd_ail_cont_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">Blended-INJ-AINL CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.blend_ca_inj_ainl_cont_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.blend_ca_inj_ainl_cont_2 }}</div>
                           <div class="col-md-2">D3:{{ data.blend_ca_inj_ainl_cont_3 }}</div>
                           <div class="col-md-2">D4:{{ data.blend_ca_inj_ainl_cont_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">Blended-INJ-AIL CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.blend_ca_inj_ail_cont_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.blend_ca_inj_ail_cont_2 }}</div>
                           <div class="col-md-2">D3:{{ data.blend_ca_inj_ail_cont_3 }}</div>
                           <div class="col-md-2">D4:{{ data.blend_ca_inj_ail_cont_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">AIT Blended-CMD CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.AIT_cmd_ca_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.AIT_cmd_ca_2 }}</div>
                           <div class="col-md-2">D3:{{ data.AIT_cmd_ca_3 }}</div>
                           <div class="col-md-2">D4:{{ data.AIT_cmd_ca_4 }}</div>
                    </div>
                    <div class="row">
                           <div class="col-md-4">AIT Blended-INJ CA, m<sup>2</sup></div>
                           <div class="col-md-2">D1:{{ data.AIT_inj_ca_1 }}</div>             <!-----contain data get from database---------->
                           <div class="col-md-2">D2:{{ data.AIT_inj_ca_2 }}</div>
                           <div class="col-md-2">D3:{{ data.AIT_inj_ca_3 }}</div>
                           <div class="col-md-2">D4:{{ data.AIT_inj_ca_4 }}</div>
                    </div>
                    <div class = "row">
                        <div class="col-md-8">Khu vực chịu hậu quả thiệt hại do thành phần dễ cháy, m<sup>2</sup></div>
                        <div class="col_md_4">{{ data.CA_Flam_Cmd_shell }}</div>
                    </div>
                    <div class = "row">
                        <div class="col-md-8">Flammable Personnel Injury Consequence Area, m<sup>2</sup></div>
                        <div class="col_md_4">{{ data.CA_Flam_inj_shell }}</div>
                    </div>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Vùng chịu ảnh hưởng độc hại</b></legend>
                    <fieldset class="scheduler-border">
                    <legend class="scheduler-border">{{ data.model_fluid }}</legend>
                     <div class="row">
                        <div class="col-md-4"><b>Kích thước lỗ phát tán</b></div>
                       <div class="col-md-2"><b>Nhỏ</b></div>             <!-----contain data get from database---------->
                           <div class="col-md-2"><b>Trung bình</b></div>
                           <div class="col-md-2"><b>To</b></div>
                           <div class="col-md-2"><b>Nứt gãy</b></div>
                    </div>
                     <div class="row">
                         <div class="col-md-4">Thời gian rò rỉ chất độc hại, giây</div>
                         <div class="col-md-2">D1:{{ data.ld_toxic_shell_1 }}</div>
                         <div class="col-md-2">D2:{{ data.ld_toxic_shell_2 }}</div>
                         <div class="col-md-2">D3:{{ data.ld_toxic_shell_3 }}</div>
                         <div class="col-md-2">D4:{{ data.ld_toxic_shell_4 }}</div>
                     </div>
                     <div class="row">
                         <div class="col-md-4">Tốc độ rò rỉ chất độc hại, kg/s</div>
                         <div class="col-md-2">D1:{{ data.mass_rate_shell_1 }}</div>
                         <div class="col-md-2">D2:{{ data.mass_rate_shell_2 }}</div>
                         <div class="col-md-2">D3:{{ data.mass_rate_shell_3 }}</div>
                         <div class="col-md-2">D4:{{ data.mass_rate_shell_4 }}</div>
                     </div>
                     <div class="row">
                         <div class="col-md-4">Consant C</div>
                         <div class="col-md-2">D1:{{ data.Constant_C_1 }}</div>
                         <div class="col-md-2">D2:{{ data.Constant_C_2 }}</div>
                         <div class="col-md-2">D3:{{ data.Constant_C_3 }}</div>
                         <div class="col-md-2">D4:{{ data.Constant_C_4 }}</div>
                     </div>
                     <div class="row">
                         <div class="col-md-4">Consant D</div>
                         <div class="col-md-2">D1:{{ data.Constant_D_1 }}</div>
                         <div class="col-md-2">D2:{{ data.Constant_D_2 }}</div>
                         <div class="col-md-2">D3:{{ data.Constant_D_3 }}</div>
                         <div class="col-md-2">D4:{{ data.Constant_D_4 }}</div>
                     </div>
                     <div class="row">
                         <div class="col-md-4">Chất độc CA, m<sup>2</sup></div>
                         <div class="col-md-2">D1:{{ data.CA_toxic_shell1 }}</div>
                         <div class="col-md-2">D2:{{ data.CA_toxic_shell2 }}</div>
                         <div class="col-md-2">D3:{{ data.CA_toxic_shell3 }}</div>
                         <div class="col-md-2">D4:{{ data.CA_toxic_shell4 }}</div>
                     </div>
                     <div class="row">
                         <div class="col-md-8">Vùng chịu ảnh hưởng độc hại đối với con người, m<sup>2</sup></div>
                         <div class="col-md-4">{{ data.CA_toxic_fi }}</div>
                     </div>
                         </legend>
                 </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Vùng chịu hậu quả</legend>
                    <div class="row">
                        <div class="col-md-4">Vùng chịu ảnh hưởng tài chính đối với hư hỏng thiết bị</div>
                        <div class="col-md-2">{{ data.CA_final_Com }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Vùng chịu ảnh hưởng tài chính đối với con người</div>
                        <div class="col-md-2">{{ data.CA_final_Per }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Thiệt hại tài chính</div>
                        <div class="col-md-2">{{ data.CA_final }}</div>
                    </div>
                </fieldset>
            </fieldset>
            </fieldset>
        </div>
    </form>
{% endblock %}


