{% extends 'BaseUI/BaseFacility/baseRiskSummary.html' %}

{% load staticfiles %}

<!----------------BLOCK MENU--------------->
{% block pof %}{% url 'damgeFactor' proposalID %}{% endblock %}
{% block fcof%}{% url 'fullyConsequence' proposalID %}{% endblock %}
{% block acof%}{% url 'areaBasedCoF' proposalID %}{% endblock %}
{% block matrix %}{% url 'riskMatrix' proposalID %}{% endblock %}
{% block chart %}{% url 'riskChart' proposalID %}{% endblock %}
{% block backProposal %}{% url 'proposalDisplay' ass.componentid_id %}{% endblock %}
<!---------------END BLOCK--------------->

{% block data-content %}
    <form method="post">
    {% csrf_token %}
        <div class="input-data">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Fully-Quantitative Financial Cosequense of Failure</b></legend>
                <!---------- BLOCK DATA--------------->
                <!-------- block 0------------->
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Đầu vào</b></legend>
                    <div class="row">
                        <div class="col-md-8">Chi phí thay thế cấu kiện:<span style="color: red">*</span></div>
                        <div class="col-md-4"><input type="text" class="form-control" name="EquipCost" value="{{data.equip_cost}}" placeholder="Input here!" required/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Hệ số ngừng thiết bị:<span style="color: red">*</span></div>
                        <div class="col-md-4"><input type="text" class="form-control" name="EquipOutageMultiplier" value="{{data.equip_outage_multiplier}}" placeholder="Input here!" required/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Chi phí sản xuất mất mát:<span style="color: red">*</span></div>
                        <div class="col-md-4"><input type="text" class="form-control" name="ProdCost" value="{{data.prod_cost}}" placeholder="Input here!" required/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Mật độ dân số :<span style="color: red">*</span></div>
                        <div class="col-md-4"><input type="text" class="form-control" name="PopDens" value="{{data.pop_dens}}" placeholder="Input here!" required/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Chi phí cho bệnh nhân hoặc tai nạn chết người:<span style="color: red">*</span></div>
                        <div class="col-md-4"><input type="text" class="form-control" name="InjCost" value="{{data.inj_cost}}" placeholder="Input here!" required/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><button name="_calculate" class="btn btn-primary" type="submit"><i class="fa fa-pencil">Calculate</i></button></div>
                    </div>
                </fieldset>
                <!-------- block 1------------->
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Fully-Quantitative Financial Cosequense of Failure and Category</b></legend>
                    <div class="row">
                        <div class="col-md-8">Tổng hậu quả, $:</div>
                        <div class="col-md-4">{{ data.consequence }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Loại hậu quả:</div>
                        <div class="col-md-4"><b>{{ data.consequencecategory }}</b></div>
                    </div>
                </fieldset>
                <!-------- block 2------------->
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Giá trị ban đầu</b></legend>
                    <div class="row">
                        <div class="col-md-10">Độ dẫn thủy lực đối với nước, m/ngày:</div>
                        <div class="col-md-2">{{ data.hydraulic_water }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">Độ dẫn thủy lực đối với chất lỏng, m/ngày:</div>
                        <div class="col-md-2">{{ data.hydraulic_fluid }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">Vận tốc thấm, m/ngày:</div>
                        <div class="col-md-2">{{ data.seepage_velocity }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2"><b>D1</b></div>
                        <div class="col-md-2"><b>D2</b></div>
                        <div class="col-md-2"><b>D3</b></div>
                        <div class="col-md-2"><b>D4</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Lưu lượng dòng chảy, bbls/ngày:</div>
                        <div class="col-md-2">{{ data.flow_rate_d1 }}</div>
                        <div class="col-md-2">{{ data.flow_rate_d2 }}</div>
                        <div class="col-md-2">{{ data.flow_rate_d3 }}</div>
                        <div class="col-md-2">{{ data.flow_rate_d4 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">The liquid height above the shell in question, m^3</div>
                        <div class="col-md-2">{{ data.liquid_height }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Thể tích chất lỏng phía trên vỏ, m^3</div>
                        <div class="col-md-2">{{ data.volume_fluid }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Thời gian rò rỉ, ngàys:</div>
                        <div class="col-md-2">{{ data.leak_duration_d1 }}</div>
                        <div class="col-md-2">{{ data.leak_duration_d2 }}</div>
                        <div class="col-md-2">{{ data.leak_duration_d3 }}</div>
                        <div class="col-md-2">{{ data.leak_duration_d4 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Lượng chất lỏng phát tán do rò rỉ, m<sup>3</sup>:</div>
                        <div class="col-md-2">{{ data.release_volume_leak_d1 }}</div>
                        <div class="col-md-2">{{ data.release_volume_leak_d2 }}</div>
                        <div class="col-md-2">{{ data.release_volume_leak_d3 }}</div>
                        <div class="col-md-2">{{ data.release_volume_leak_d4 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Lượng chất lỏng phát tán do nứt gãy, barrels:</div>
                        <div class="col-md-2">{{ data.release_volume_rupture }}</div>
                    </div>
                </fieldset>
                <!-------------- block 3 ------------->
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>hậu quả tài chính</b></legend>
                    <div class="row">
                        <div class="col-md-8">Yếu tố vật liệu:</div>
                        <div class="col-md-4">{{ data.material_factor }}</div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                       <div class="col-md-8"><b>Loại phát tán</b></div>
                        <div class="col-md-2"><b>Rò rỉ</b></div>
                        <div class="col-md-2"><b>Phá hủy</b></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Tổng số thùng lưu chất , barrels:</div>
                        <div class="col-md-2">{{ data.barrel_dike_leak }}</div>
                        <div class="col-md-2">{{ data.barrel_dike_rupture }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Tổng số thùng lưu chất trên mặt đất sau khi xảy ra hư hỏng, barrels:</div>
                        <div class="col-md-2">{{ data.barrel_onsite_leak }}</div>
                        <div class="col-md-2">{{ data.barrel_onsite_rupture }}</div>
                    </div>
                    <div class="row">
                       <div class="col-md-8">Tổng số thùng lưu chất dưới mặt đất sau khi xảy ra hư hỏng, barrels:</div>
                        <div class="col-md-2">{{ data.barrel_offsite_leak }}</div>
                        <div class="col-md-2">{{ data.barrel_offsite_rupture }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Tổng số thùng lưu chất tiếp xúc với nước sau khi xảy ra hư hỏng, barrels:</div>
                        <div class="col-md-2">{{ data.barrel_water_leak }}</div>
                        <div class="col-md-2">{{ data.barrel_water_rupture }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Chi phí môi trường, $:</div>
                        <div class="col-md-2">{{ data.fc_environ_leak }}</div>
                        <div class="col-md-2">{{ data.fc_environ_rupture }}</div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-md-8">Tổng chi phí môi trường, $:</div>
                        <div class="col-md-4">{{ data.fc_environ }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Chi phí hư hỏng cấu kiện, $:</div>
                        <div class="col-md-4">{{ data.component_damage_cost }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Chi phí thiệt hại cho thiết bị xung quanh, $:</div>
                        <div class="col-md-4">{{ data.damage_surrounding_equipment_cost }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Thiệt hại tài chính do dừng hoạt động kinh doanh, $:</div>
                        <div class="col-md-4">{{ data.business_cost }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Chi phí cho bệnh nhân hoặc tai nạn chết người, $:</div>
                        <div class="col-md-4">{{ data.associated_personnel_injury_cost }}</div>
                    </div>
                </fieldset>



{#                <div class="row"></div>#}
{##}
{#                <div class="row">#}
{#                    <div class="col-md-8">The time to initate leakage to the ground water, days:</div>#}
{#                    <div class="col-md-4">{{ data.time_leak_ground }}</div>#}
{#                </div>#}
{#                <!-------------- block 3 ----------->#}
{#                <div class="row"></div>#}
{#                <div class="row">#}
{#                    <div class="col-md-8"></div>#}
{#                    <div class="col-md-2"><b>D1</b></div>#}
{#                    <div class="col-md-2"><b>D4</b></div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-md-8">The volume of the product in the subsoil from lakage, barrels:</div>#}
{#                    <div class="col-md-2">{{ data.volume_subsoil_leak_d1 }}</div>#}
{#                    <div class="col-md-2">{{ data.volume_subsoil_leak_d4 }}</div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col-md-8">The volume of the product in the ground water from leakage, m<sup>3</sup>:</div>#}
{#                    <div class="col-md-2">{{ data.volume_ground_water_leak_d1 }}</div>#}
{#                    <div class="col-md-2">{{ data.volume_ground_water_leak_d4 }}</div>#}
{#                </div>#}
{#                <!------------ block 4 ---------->#}
{#                <div class="row"></div>#}

            </fieldset>
        </div>
    </form>
{% endblock %}