{% extends 'BaseUI/BaseFacility/baseRiskSummary.html' %}

{% load staticfiles %}
<!----------------BLOCK MENU--------------->
{% block pof %}{% url 'damgeFactor' proposalID %}{% endblock %}
{% block fcof%}{% url 'fullyConsequence' proposalID %}{% endblock %}
{% block acof%}{% url 'areaBasedCoF' proposalID %}{% endblock %}
{% block matrix %}{% url 'riskMatrix' proposalID %}{% endblock %}
{% block chart %}{% url 'riskChart' proposalID %}{% endblock %}
{% block corri %}{% url 'corrision' proposalID %}{% endblock %}
{% block backProposal %}{% url 'damgeFactor' proposalID%}{% endblock %}

{% block data-content %}
    <style>
      .card {
          background: #ffffff;
      }

    .scheduler-border {
        border: none;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 0 0 1.5em 0;
        font-size: 1.1em ;
        text-align: left ;
        text-decoration-color: #444444;
    }
    .row{
        text-align: left;
    }
    .arrow-down {
        margin-left: 50%;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 2px solid;
        border-right: 2px solid;
        transform: rotate(135deg);
      }
    </style>
    <!--suppress ALL -->
    <form id="inspectionplan" method="post" class="card" >
    {% csrf_token %}

       <div style=" text-align: center"><caption><b style="font-size: 20px; color: #444444;">Internal Lining Degradation Damage Factor</b></caption></div>

                <!-----------BlOCK FULLY QUANTITIVE FCOF AND CATEGORY--------->
        <fieldset class="scheduler-border">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Assessment General Information</b></legend>
                    <div class="row">
                        <div class="col-md-4">Equipment Number</div>
                        <div class="col-md-6"><form><input  type="text" size="70px" value="EQUP1"></form></div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">Component Number</div>
                        <div class="col-md-6"><form><input  type="text" size="70px" value="COM1"> </form></div>
                    </div>
                    <div class="row">
                         <div class="col-md-4">Assessment Name</div>
                        <div class="col-md-6"><form><input  type="text" size="70px" value="New Proposal"> </form></div>
                    </div>
                </fieldset>


        <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Assessment Data Input</b></legend>

               <div>
              <a class="arrow-down" data-toggle="collapse" href="#a" aria-expanded="false" >
              </a></div>
               <div class="collapse" id="a">
                    <div class="row">
                        <div class="col-md-3">Assessment Date</div>
                        <div class="col-md-3"><form><input type="text" name="assessmentdate"  id="assessmentdate" placeholder="yyyy-mm-dd" value="{{ a.assessmentDate }}">
                        <script>
                            $( "#assessmentdate" ).datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
                        $("#assessmentdate").datepicker('setDate', new Date());
                        </script></form>
                        </div>
                        <div class="col-md-3">Commission Date</div>
                        <div class="col-md-3"><form><input  type="text" value=""> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Risk Analysis Period</div>
                        <div class="col-md-3"><form><input  type="text" value=""> </form></div>
                        <div class="col-md-3">Last Inspection Date</div>
                        <div class="col-md-3"><form><input  type="text" name="lastInspection"  id="lastInspection" placeholder="yyyy-mm-dd" value="{{a.LastInspectionDate}}">
                        <script>
                            $( "#lastInspection" ).datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
                        $("#lastInspection").datepicker('setDate', new Date());
                        </script></form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Liner Online Monitoring</div>
                        <div class="col-md-3"><form><input  type="text" value="0"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Internal Liner Type</div>
                        <div class="col-md-3"><form><input  type="text" value="0" size="70px"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Internal Liner Condition</div>
                        <div class="col-md-3"><form><input  type="text" value="" > </form></div>
                    </div>
               </div>
            </fieldset>
            <!-------Khối Intermediate Results------>
            <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Intermediate Results </b></legend>
                 <div>
              <a class="arrow-down" data-toggle="collapse" href="#b" aria-expanded="false" >
              </a></div>
               <div class="collapse" id="b">
                    <div class="row">
                        <div class="col-md-6">Damage Fator Adjustment for Lining Condition, FLC</div>
                        <div class="col-md-3"><form><input  type="text" size="10px" value=""> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">Damage Factor Adjustment for Online Mornitoring, FOM</div>
                        <div class="col-md-3"><form><input  type="text" size="10px" value=""> </form></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><form><input  type="text" style="background-color: #0C5BED; color: white" size="54px"  value="0 months                          36 months                           72 months"> </form></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">Years Since Last Inspection, age</div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value=""> </form></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">Base Value of Damage Factor</div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value=""> </form></div>
                    </div>

               </div>
            </fieldset>
            <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Damage Factor </b></legend>
                 <div>
              <a class="arrow-down" data-toggle="collapse" href="#c" aria-expanded="false" >
              </a></div>
               <div class="collapse" id="c">
                    <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><form><input  type="text" style="background-color: #0C5BED; color: #FFFFFF" size="54px"  value="0 months                          36 months                           72 months"> </form></div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">Internal Lining Degradation Damage Factor</div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="10px" value=""> </form></div>
                    </div>
               </div>
            </fieldset>
        </fieldset>
    </form>

{% endblock %}