{% extends 'BaseUI/BaseFacility/baseRiskSummary.html' %}

{% load staticfiles %}
<!----------------BLOCK MENU--------------->
{% block pof %}{% url 'damgeFactor' proposalID %}{% endblock %}
{% block fcof%}{% url 'fullyConsequence' proposalID %}{% endblock %}
{% block acof%}{% url 'areaBasedCoF' proposalID %}{% endblock %}
{% block matrix %}{% url 'riskMatrix' proposalID %}{% endblock %}
{% block chart %}{% url 'riskChart' proposalID %}{% endblock %}
{% block corri %}{% url 'corrision' proposalID %}{% endblock %}
{% block backProposal %}{% url 'damgeFactor' proposalID%}{% endblock %}
<!---------------END BLOCK--------------->

{% block data-content %}
    <style>
      .card {
          background: #ffffff;
      }

    .scheduler-border {
        border: none;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 0 0 1.5em 0;
        font-size: 1.1em ;
        text-align: left ;
        text-decoration-color: #444444;
    }
    .row{
        text-align: left;
    }
    </style>
    <!--suppress ALL -->
    <form id="inspectionplan" method="post" class="card" >
    {% csrf_token %}
       <div style=" text-align: center"><caption><b style="font-size: 20px; color: #444444;">Thuộc tính tham số hư hỏng tại các vị trí suy giảm chiều dày</b></caption></div>
        {% for a in data %}x
                <!-----------BlOCK FULLY QUANTITIVE FCOF AND CATEGORY--------->
        <fieldset class="scheduler-border">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>thông tin đánh giá chung</b></legend>
                    <div class="row">
                        <div class="col-md-4">Số thiết bị</div>
                        <div class="col-md-6"><form><input  type="text" size="70px" value="EQUP1"></form></div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">Số thành phần</div>
                        <div class="col-md-6"><form><input  type="text" size="70px" value="COM1"> </form></div>
                    </div>
                    <div class="row">
                         <div class="col-md-4">Tên đánh giá</div>
                        <div class="col-md-6"><form><input  type="text" size="70px" value="New Proposal"> </form></div>
                    </div>
                </fieldset>

                <!-----------BLOCK INFLUENCING INPUT------------>
            <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Dữ liệu đánh giá đầu vào</b></legend>

           <details >
               <summary style="text-align: center"></summary>
                    <div class="row">
                        <div class="col-md-3">Ngày đánh giá</div>
                        <div class="col-md-3"><form><input type="text" name="assessmentdate"  id="assessmentdate" placeholder="yyyy-mm-dd" value="{{ a.assessmentDate }}">
                        <script>
                            $( "#assessmentdate" ).datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
                        $("#assessmentdate").datepicker('setDate', new Date());
                        </script></form>
                        </div>
                        <div class="col-md-3">Commission Date</div>
                        <div class="col-md-3"><form><input  type="text" value=""> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Thời gian phân tích rủi ro</div>
                        <div class="col-md-3"><form><input  type="text" value="36"> </form></div>
                        <div class="col-md-3">Ngày kiểm định cuối</div>
                        <div class="col-md-3"><form><input  type="text" name="lastInspection"  id="lastInspection" placeholder="yyyy-mm-dd" value="{{a.LastInspectionDate}}">
                        <script>
                            $( "#lastInspection" ).datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
                        $("#lastInspection").datepicker('setDate', new Date());
                        </script></form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Number of A Effectiveness Inspections</div>
                        <div class="col-md-3"><form><input  type="text" value="0"> </form></div>
                        <div class="col-md-3">Number of B Effectiveness Inspections</div>
                        <div class="col-md-3"><form><input  type="text" value="0"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Number of C Effectiveness Inspections</div>
                        <div class="col-md-3"><form><input  type="text" value="0"> </form></div>
                        <div class="col-md-3">Number of D Effectiveness Inspections</div>
                        <div class="col-md-3"><form><input  type="text" value="0"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Chiều dày danh định</div>
                        <div class="col-md-3"><form><input  type="text" value="{{a.NominalThickness }}"> </form></div>
                        <div class="col-md-3">Chiều dày đo được tối thiểu</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.CurentThickness }}"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Tốc độ ăn mòn hiện tại</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.CorrosionRate }}"> </form></div>
                        <div class="col-md-3">Chiều dày yêu cầu tối thiểu</div>
                        <div class="col-md-3"><form><input  type="text" value="{{a.MinimunRequiredThickness  }}"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Lớp phủ bên trong</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.InternalCladding }}"> </form></div>
                        <div class="col-md-3">Tốc độ ăn mòn lớp phủ</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.CladdingCorrosionRate }}"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Áp suất thiết kế</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.DesignPressure }}"> </form></div>
                        <div class="col-md-3">Đường kính</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.Diameter }}"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Bơm hóa chất</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.ChemicalInjection }}"> </form></div>
                        <div class="col-md-3">Kiểm định hiệu năng đối với bơm hóa chất </div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.HighlyEffectiveInspectionforChemicalInjection }}"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Dead legs</div>
                        <div class="col-md-3"><form><input  type="text" value="0"> </form></div>
                        <div class="col-md-3">Highly Effective Inspection for Dead legs</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.HighEffectiveDeadlegs }}"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Mức độ tin cậy trong việc xác định tốc độ ăn mòn</div>
                        <div class="col-md-3"><form><input  type="text" value="0"> </form></div>
                        <div class="col-md-3">Hiệu quả mối hàn</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.WeltJointEfficiency }}"> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">Năng suất</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.YeildStrength }}"> </form></div>
                        <div class="col-md-3">Sức kéo</div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.TensileStrength }}"> </form></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Ứng suất cho phép tại nhiệt độ đánh giá </div>
                        <div class="col-md-3"><form><input  type="text" value="{{ a.AllowableStress }}"> </form></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Theo dõi trực tuyến</div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value="{{ a.Onlinemonitoring }}"> </form></div>
                    </div>
            </details>
            </fieldset>
               {#      Khối Intermediate Results       #}

            <fieldset class="scheduler-border">
                    <legend class="scheduler-border"><b>Kết quả trung gian</b></legend>
                <details>
                    <summary style="text-align: center"></summary>
                    <div class="row">
                        <div class="col-md-4">Độ dày kim loại cơ bản</div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value="12"> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Hình dạng</div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value="Cylindrical"> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Yếu tố hình dạng</div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value="2"> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Ứng suất dòng chảy</div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value="9.625"> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Tỷ lệ sức bền- Áp suất bên trong / Ứng suất vòng</div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value=""> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Tỷ lệ sức bền-Chiều dày cấu trúc tối thiểu </div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value="2.17052"> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Điều chỉnh yếu tố hư hỏng cho các điểm phối trộn</div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value="1"> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Damage Factor Adjustment for Dead Legs</div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value="1"> </form></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">Điều chỉnh yếu tố hư hỏng để giám sát trực tuyến</div>
                        <div class="col-md-1"><form><input  type="text" size="70px" value="10"> </form></div>
                    </div>
                    </details>
            </fieldset>
{#            Khối Structral Realiability Theory Parameters#}
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Các tham số lý thuyết về độ chuẩn cấu trúc</b></legend>
                <details>
                    <summary style="text-align: center"> </summary>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><form><input  type="text" size="51px" style="background-color: #0C5BED" value="0 months                        36 months                         72 months"> </form></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Xác suất trước của mức độ tin cậy dữ liệu về tốc độ ăn mòn</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.7"> </form></div>
                            <div class="col-md-2"><form><input  type="text"size="9px"value="0.2"> </form></div>
                            <div class="col-md-2"><form><input  type="text"size="9px" value="0.1"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Các yếu tố kiểm định hiệu quả</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.7"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.2"> </form></div>
                            <div class="col-md-2"><form><input  type="text"size="9px"  value="0.1"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Xác suất sau</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.7"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.2"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.1"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Chỉ số Độ tin cậy Beta tại 0AP</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="-5.41935"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="-5.70238"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="-6.28780"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Chỉ số Độ tin cậy Beta tại 1AP</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="-4.37833"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="-3.94713"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="-3.73879"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Chỉ số Độ tin cậy Beta tại 2AP</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="-3.94866"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="-3.73954"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="-3.63689"> </form></div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-1"><form><input  type="text" style="background-color: #0C5BED" size="51px"  value="0 months                        36 months                         72 months"> </form></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Số năm hoạt động, tuổi thọ</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.02"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="3.02"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="6.02"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Số năm kể từ lần kiểm định cuối cùng, tuổi thọ, tk</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.02"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="3.02"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="6.02"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Tuổi thọ còn lại của vật liệu tráng phủ, tuổi_rc</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.32"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Wall Loss Fraction With Cladding Material</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value=""> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Wall Loss Fraction With Cladding Material(Age_tk< Age_rc) </div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.03240"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value=""> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Wall Loss Fraction With Cladding Material(Age_tk>= Age_rc) </div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value=""> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="7.35771"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="14.66206"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Wall Loss Fraction</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="0.03240"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="7.35771"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="14.66206"> </form></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Yếu tố hư hỏng cơ bản</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="6410.25626"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="6410.11961"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="6409.87347"> </form></div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-6">Yếu tố hư hỏng chiều dày</div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="641.02562"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="641.01196"> </form></div>
                            <div class="col-md-2"><form><input  type="text" size="9px" value="640.98734"> </form></div>
                        </div>
                </details>
            </fieldset>
        </fieldset>
     {% endfor %}
    </form>
{% endblock %}