{% extends 'BaseUI/BaseManager/ManagerHome.html' %}

<!-------------- BLOCK MENU ---------------->
{% block homedetail %}{% url 'managerhomedetail' siteID%}{% endblock %}
{% block listmana %}{% url 'manager' siteID %}{% endblock %}
{% block calculate %}{% url 'calculatefunctionmanager' siteID %}{% endblock %}
{% block toolmanage %}{% url 'toolmanager' siteID %}{% endblock %}
<!----------------- END BLOCK----------------->
{% block data-content %}

<style>
.riskmatrix {
    width: 530px;
    height: 580px;
    background: #b1b1b1;
    float:left;
}
.showtable{
    width: 600px;
    float: right;
}
div.a {
  white-space: nowrap;
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.a:hover {
  overflow: visible;
}
#searchs{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
.city{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
#search3{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
#proposal
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
#search2{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
#searchs td,#searchs th {
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
.city td, .city th{
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
#search2 th,#search2 td{
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
#search3 th,#search3 td{
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
#proposal th,#proposal td{
  border: 1px solid #ddd;
  padding: 0px;
  text-align: center;
}
#searchs tr:nth-child(even){background-color: #f2f2f2;}
.city tr:nth-child(even){background-color: white;}
#search2 tr:nth-child(even){background-color: #f2f2f2;}
#search3 tr:nth-child(even){background-color: #f2f2f2;}
#proposal tr:nth-child(even){background-color: #f2f2f2;}
#searchs tr:hover {background-color: #f2f2f2;}
.city tr:hover {background-color: #f2f2f2;}
#search2 tr:hover {background-color: #f2f2f2;}
#search3 tr:hover {background-color: #f2f2f2;}
#proposal tr:hover {background-color: #f2f2f2;}

#searchs th {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #305680;
  color: white;
}
.city th {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #305680;
  color: white;
}
#search2 th{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #305680;
  color: white;
}
#search3 th{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color :#305680;
  color: white;
}
#proposal th{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #305680;
  color: white;
}
</style>
<form id="function" method="post" >
    {% csrf_token %}
    <div class="container">
        <ul class="nav nav-pills">
            <!--<li class="active"><a data-toggle="pill" href="#process" style="padding-top: 2px;padding-bottom: 2px;background-color: #DB812D;color: white;">Process Plant</a></li>-->
            <!--<li><a data-toggle="pill" style="padding-top: 2px;padding-bottom: 2px;background-color: #DB812D;color: White;" href="#tank">Tank</a></li>-->
            <li class="active"><a data-toggle="pill" href="#menu0" style="padding-top: 10px;padding-bottom: 10px;background-color: #DB812D;color: white;">Process Plant</a></li>
            <li><a data-toggle="pill" style="padding-top: 10px;padding-bottom: 10px;background-color: #DB812D;color: white;" href="#menu1">Tank</a></li>
{#            <button type="submit" name="_refresh" style="text-align:right" class="btn btn-primary"><i class="fa fa-pencil">&emsp;Làm mới</i></button>#}
        </ul>

        <div class="tab-content">
            <!---------------- Process Plant------------------>
            <div id="menu0" class="tab-pane fade in active" >
                <div  class="riskmatrix">
                    <canvas id="myCanvas" width="550" height="550"></canvas>
                    <script>
                        //Lấy đối tượng Canvas
                        var canvas = document.getElementById('myCanvas');
                        // Chọn đối tượng vẽ 2D
                        var ctx = canvas.getContext('2d');
                        var i = 100;
                        // Tiến hành vẽ
                        ctx.strokeStyle = 'black';
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(0+i, 80, 80, 80);
                        ctx.strokeRect(0+i, 80, 80, 80);
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(80+i ,80,80,80);
                        ctx.strokeRect(80+i,80,80,80)
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(160+i,80,80,80);
                        ctx.strokeRect(160+i,80,80,80)
                        ctx.fillStyle = 'red';
                        ctx.fillRect(240+i,80,80,80);
                        ctx.strokeRect(240+i,80,80,80)
                        ctx.fillStyle = 'red';
                        ctx.fillRect(320+i,80,80,80);
                        ctx.strokeRect(320+i,80,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(0+i,160,80,80);
                        ctx.strokeRect(0+i,160,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(80+i,160,80,80);
                        ctx.strokeRect(80+i,160,80,80)
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(160+i,160,80,80);
                        ctx.strokeRect(160+i,160,80,80);
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(240+i,160,80,80);
                        ctx.strokeRect(240+i,160,80,80)
                        ctx.fillStyle = 'red';
                        ctx.fillRect(320+i,160,80,80);
                        ctx.strokeRect(320+i,160,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(0+i,240,80,80);
                        ctx.strokeRect(0+i,240,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(80+i,240,80,80);
                        ctx.strokeRect(80+i,160,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(160+i,240,80,80);
                        ctx.strokeRect(160+i,240,80,80)
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(240+i,240,80,80);
                        ctx.strokeRect(240+i,240,80,80)
                        ctx.fillStyle = 'red';
                        ctx.fillRect(320+i,240,80,80);
                        ctx.strokeRect(320+i,240,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(0+i,320,80,80);
                        ctx.strokeRect(0+i,320,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(80+i,320,80,80);
                        ctx.strokeRect(80+i,320,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(160+i,320,80,80);
                        ctx.strokeRect(160+i,320,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(240+i,320,80,80);
                        ctx.strokeRect(240+i,320,80,80);
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(320+i,320,80,80);
                        ctx.strokeRect(320+i,320,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(0+i,400,80,80);
                        ctx.strokeRect(0+i,400,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(80+i,400,80,80);
                        ctx.strokeRect(80+i,400,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(160+i,400,80,80);
                        ctx.strokeRect(160+i,400,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(240+i,400,80,80);
                        ctx.strokeRect(240+i,400,80,80)
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(320+i,400,80,80);
                        ctx.strokeRect(320+i,400,80,80);
                        {% for a in APINormal %}
                            ctx.beginPath();
                            ctx.fillStyle="Blue";
                            ctx.fillRect({{ a.API2.x }}-15,{{ a.API2.y }}-15,30,30);

                            ctx.beginPath();
                            ctx.arc({{ a.API1.x }},{{ a.API1.y }},15,0,2 * Math.PI, true);
                            ctx.fillStyle="LightGray";
                            ctx.fill();

                            ctx.beginPath();
                            ctx.fillStyle="Purple";
                            ctx.fillRect({{ a.API3.x }}-15,{{ a.API3.y }}-10,30,20);
                        {% endfor %}

                        ctx.beginPath();
                        ctx.arc(120,35,15,0,2 * Math.PI, true);
                        ctx.fillStyle="LightGray";
                        ctx.fill();
                        ctx.beginPath();
                        ctx.fillStyle="Blue";
                        ctx.fillRect(250,20,30,30);
                        ctx.font = "15px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText(": API1", 150, 45);
                        ctx.fillText(": API2", 300, 45);

                        ctx.beginPath();
                        ctx.fillStyle="Purple";
                        ctx.fillRect(400,30,30,20);
                        ctx.font = "15px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText(": API3", 450, 45);

                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("A", 30+i, 520);

                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("B", 110+i, 520);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("C", 190+i, 520);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("D", 270+i, 520);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("E", 350+i, 520);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("1", 60, 445);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("2", 60, 365);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("3", 60, 285);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("4", 60, 205);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("5", 60, 125);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("Consequense", 250, 550);

                        ctx.font = '20px Georgia';
                        ctx.save();
                        ctx.translate(35,330);
                        ctx.rotate(-0.5*Math.PI);

                        var rText = 'Probability';
                        ctx.fillText(rText , 0, 0);
                        ctx.restore();

                        var rWidth = ctx.measureText(rText).width;
                    </script>
                </div>
                <div class="city" style="font-size: 13px; color: #444444;background-color:white" class="showtable">
                    <div class="container">
                        <div class="table-responsive">
                        <table width=100% class="testing">
                            <thead>
                            <tr>
                                <!--<th style="background-color:#387BF9;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="17"><input type = "button" name = "-" id="portests1" style="color:black;" value = "Proposal"></th>-->
                                <th style="background-color:#305680;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="17">Các bản ghi đề xuất</th>
                            </tr>
                            <tr>
                                <!------- Proposal-------->
                                <th width="100px" style="text-align: center"><input type="checkbox"></th>
                                <th>Site</th>
                                <th>Nhà máy</th>
                                <th >Số thiết bị</th>
                                <th>Số thành phần</th>
                                <th>AP1</th>
                                <th>AP2</th>
                                <th>AP3</th>
                                <th >RLI9(tháng)</th>
                                <th>Tên đánh giá</th>
                                <th>Ngày đánh giá</th>
                                <th>Commission Date</th>
                                <th style="overflow: auto; white-space: nowrap;">Thời gian phân tích<br> rủi ro</th>
                                <th>Loại thiết bị</th>
                                <th >Loại thành phần</th>
                                <th style="overflow: auto;white-space: nowrap;">Hạn kiểm định</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in APINormal %}
                                <tr>
                                    <td><div class="a"><input type="checkbox" name="{{ a.ID }}" id="checkbox"></div></td>
                                    <td><div class="a">{{a.Site}}</div></td>
                                    <td><div class="a">{{a.Facility}}</div></td>
                                    <td><div class="a">{{a.EquipmentNumber}}</div></td>
                                    <td><div class="a">{{a.ComponentNumber}}</div></td>
                                    <td><div class="a">{{a.POFAPI1}}</div></td>
                                    <td><div class="a">{{a.POFAPI2}}</div></td>
                                    <td><div class="a">{{a.POFAPI3}}</div></td>
                                    <td><div class="a">{{a.RLI}}</div></td>
                                    <td><div class="a">{{a.AssessmentName}}</div></td>
                                    <td><div class="a">{{a.AssessmentDate}}</div></td>
                                    <td><div class="a">{{a.CommissionDate}}</div></td>
                                    <td><div class="a">{{a.RiskAnalysisPeriod}}</div></td>
                                    <td><div class="a">{{a.EquipmentType}}</div></td>
                                    <td><div class="a">{{a.ComponentType}}</div></td>
                                    <td><div class="a">{{a.InspectionDueDate}}</div></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th width="100px" style="text-align: center"><input type="checkbox" id=""></th>
                                    <th>Site</th>
                                    <th>Nhà máy</th>
                                    <th >Số thiết bị</th>
                                    <th>Số thành phần</th>
                                    <th>AP1</th>
                                    <th>AP2</th>
                                    <th>AP3</th>
                                    <th >RLI9(tháng)</th>
                                    <th>Tên đánh giá</th>
                                    <th>Ngày đánh giá</th>
                                    <th>Commission Date</th>
                                    <th style="overflow: auto; white-space: nowrap;">Thời gian phân tích<br> rủi ro</th>
                                    <th>Loại thiết bị</th>
                                    <th >Loại thành phần</th>
                                    <th style="overflow: auto;white-space: nowrap;">Hạn kiểm định</th>
                                    <!------- Equipment Properties-------->
                                </tr>
                                </tfoot>
                        </table>
                        </div>
                        <!--<button type="submit" name="_verification" style="text-align:left" class="btn btn-primary"><i class="fa fa-pencil">&emsp;Verification</i></button>-->
                        <button type="submit" name="_refresh" style="text-align:right" class="btn btn-primary"><i class="fa fa-spinner">&emsp;Refresh</i></button>
                        <button type="submit" name="_detail" id="detail"style="text-align:left" class="btn btn-primary" disabled><i class="fa fa-info-circle">&emsp;View Risk Summary</i></button>
                        <a id="#view" class="btn btn-primary" data-toggle="modal" data-target="#viewHis"><i class="fa fa-history" aria-hidden="true">&emsp;View History Inspection Request </i></a>
                            <div class="modal" id="viewHis" style="margin-top: 10%">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content" style="width: 80%; margin: auto">

                                    <!-- Modal Header -->
                                <div class="modal-header">
                                      <span aria-hidden="true" style="font-size: 24px;font-weight: bold;color: #444444;font-family: Calibri;font-weight: bold;">Danh sách yêu cầu kiểm định</span>
                                      <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body" style="width: 90%;margin: auto">
                                        <table id="searchs">
                                            <tr>
                                                <th>Tên nhà máy</th>
                                                <th>Tên thiết bị</th>
                                                <th>Tên thành phần</th>
                                                <th>Tên bản ghi</th>
                                                <th>Ngày</th>
                                                <th>Nội dung kiểm định</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            {% for a in veri %}
                                                <tr>
                                                    <td align="center">{{ a.facility }}</td>
                                                    <td align="center">{{ a.equipment }}</td>
                                                    <td align="center">{{ a.component }}</td>
                                                    <td align="center">{{ a.proposal }}</td>
                                                    <td align="center">{{ a.date }}</td>
                                                    <td align="center">
                                                    {% for b in vericontent %}
                                                        {% if b.veriID == a.id %}
                                                            {{ b.content }}
                                                        {% endif %}
                                                    {% endfor %}
                                                    </td>
                                                    <td align="center">Gửi thành công</td>
                                                </tr>
                                                {% endfor %}
                                        </table>
                                </div>

                                        <!-- Modal footer -->
                                <div class="modal-footer" style="margin: auto; width: 90%">
                                            <button type="button" class="btn btn-success"  style="background-color: #4575B7; border: 1px solid #204d74" data-dismiss="modal">Đóng</button>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        <script>
                            $("input[id='checkbox']").change(function (e) {
                            var isChecked = $(this).prop("checked");
                            if (isChecked == false) {
                                $("#detail").attr("disabled", true);
                            }
                            else {
                                $("#detail").attr("disabled", false);
                                }
                            });
                        </script>
                </div>
            </div>
            <!---------------- Tank------------------>
            <div id="menu1" class="tab-pane fade">
            <div class="city" style="font-size: 15px; color: #444444;background-color:white">
                    <div  class="riskmatrix">
                    <canvas id="myCanvas1" width="550" height="550"></canvas>
                    <script>
                        //Lấy đối tượng Canvas
                        var canvas = document.getElementById('myCanvas1');
                        // Chọn đối tượng vẽ 2D
                        var ctx = canvas.getContext('2d');
                        var i = 100;
                        // Tiến hành vẽ
                        ctx.strokeStyle = 'black';
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(0+i, 80, 80, 80);
                        ctx.strokeRect(0+i, 80, 80, 80);
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(80+i ,80,80,80);
                        ctx.strokeRect(80+i,80,80,80)
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(160+i,80,80,80);
                        ctx.strokeRect(160+i,80,80,80)
                        ctx.fillStyle = 'red';
                        ctx.fillRect(240+i,80,80,80);
                        ctx.strokeRect(240+i,80,80,80)
                        ctx.fillStyle = 'red';
                        ctx.fillRect(320+i,80,80,80);
                        ctx.strokeRect(320+i,80,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(0+i,160,80,80);
                        ctx.strokeRect(0+i,160,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(80+i,160,80,80);
                        ctx.strokeRect(80+i,160,80,80)
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(160+i,160,80,80);
                        ctx.strokeRect(160+i,160,80,80);
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(240+i,160,80,80);
                        ctx.strokeRect(240+i,160,80,80)
                        ctx.fillStyle = 'red';
                        ctx.fillRect(320+i,160,80,80);
                        ctx.strokeRect(320+i,160,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(0+i,240,80,80);
                        ctx.strokeRect(0+i,240,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(80+i,240,80,80);
                        ctx.strokeRect(80+i,160,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(160+i,240,80,80);
                        ctx.strokeRect(160+i,240,80,80)
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(240+i,240,80,80);
                        ctx.strokeRect(240+i,240,80,80)
                        ctx.fillStyle = 'red';
                        ctx.fillRect(320+i,240,80,80);
                        ctx.strokeRect(320+i,240,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(0+i,320,80,80);
                        ctx.strokeRect(0+i,320,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(80+i,320,80,80);
                        ctx.strokeRect(80+i,320,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(160+i,320,80,80);
                        ctx.strokeRect(160+i,320,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(240+i,320,80,80);
                        ctx.strokeRect(240+i,320,80,80);
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(320+i,320,80,80);
                        ctx.strokeRect(320+i,320,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(0+i,400,80,80);
                        ctx.strokeRect(0+i,400,80,80)
                        ctx.fillStyle = 'green';
                        ctx.fillRect(80+i,400,80,80);
                        ctx.strokeRect(80+i,400,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(160+i,400,80,80);
                        ctx.strokeRect(160+i,400,80,80)
                        ctx.fillStyle = 'yellow';
                        ctx.fillRect(240+i,400,80,80);
                        ctx.strokeRect(240+i,400,80,80)
                        ctx.fillStyle = 'orange';
                        ctx.fillRect(320+i,400,80,80);
                        ctx.strokeRect(320+i,400,80,80);
                        {% for a in APITank %}
                            ctx.beginPath();
                            ctx.fillStyle="Blue";
                            ctx.fillRect({{ a.API2.x }}-15,{{ a.API2.y }}-15,30,30);

                            ctx.beginPath();
                            ctx.arc({{ a.API1.x }},{{ a.API1.y }},15,0,2 * Math.PI, true);
                            ctx.fillStyle="LightGray";
                            ctx.fill();

                            ctx.beginPath();
                            ctx.fillStyle="Purple";
                            ctx.fillRect({{ a.API3.x }}-15,{{ a.API3.y }}-10,30,20);
                        {% endfor %}

                        ctx.beginPath();
                        ctx.arc(120,35,15,0,2 * Math.PI, true);
                        ctx.fillStyle="LightGray";
                        ctx.fill();
                        ctx.beginPath();
                        ctx.fillStyle="Blue";
                        ctx.fillRect(250,20,30,30);
                        ctx.font = "15px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText(": API1", 150, 45);
                        ctx.fillText(": API2", 300, 45);

                        ctx.beginPath();
                        ctx.fillStyle="Purple";
                        ctx.fillRect(400,30,30,20);
                        ctx.font = "15px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText(": API3", 450, 45);

                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("A", 30+i, 520);

                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("B", 110+i, 520);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("C", 190+i, 520);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("D", 270+i, 520);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("E", 350+i, 520);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("1", 60, 445);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("2", 60, 365);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("3", 60, 285);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("4", 60, 205);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("5", 60, 125);
                        ctx.font = "20px Georgia";
                        ctx.fillStyle = "Black";
                        ctx.fillText("Consequense", 250, 550);

                        ctx.font = '20px Georgia';
                        ctx.save();
                        ctx.translate(35,330);
                        ctx.rotate(-0.5*Math.PI);

                        var rText = 'Probability';
                        ctx.fillText(rText , 0, 0);
                        ctx.restore();

                        var rWidth = ctx.measureText(rText).width;
                    </script>
                    </div>
                    <div class="city" style="font-size: 13px; color: #444444;background-color:white" class="showtable">
                        <div class="container">
                            <div class="table-responsive">
                            <table width=100% class="testing">
                                <thead>
                                <tr>
                                    <!--<th style="background-color:#387BF9;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="17"><input type = "button" name = "-" id="portests1" style="color:black;" value = "Proposal"></th>-->
                                    <th style="background-color:#305680;font-size: 15px;font-family: 'Spartan', sans-serif; color:White" colspan="17"> Recommended Proposal</th>
                                </tr>
                                <tr>
                                    <!------- Proposal-------->
                                    <th width="100px" style="text-align: center"><input type="checkbox" id="check"></th>
                                    <th>Site</th>
                                        <th>Nhà máy</th>
                                        <th >Số thiết bị</th>
                                        <th>Số thành phần</th>
                                        <th>AP1</th>
                                        <th>AP2</th>
                                        <th>AP3</th>
                                        <th >RLI9(tháng)</th>
                                        <th>Tên đánh giá</th>
                                        <th>Ngày đánh giá</th>
                                        <th>Commission Date</th>
                                        <th style="overflow: auto; white-space: nowrap;">Thời gian phân tích<br> rủi ro</th>
                                        <th>Loại thiết bị</th>
                                        <th >Loại thành phần</th>
                                        <th style="overflow: auto;white-space: nowrap;">Hạn kiểm định</th>
                                        <th>Code thiết kế</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for a in APITank %}
                                    <tr>
                                        <td><div class="a"><input type="checkbox" name="{{ a.ID }}" id="checkboxT"></div></td>
                                        <td><div class="a">{{a.Site}}</div></td>
                                        <td><div class="a">{{a.Facility}}</div></td>
                                        <td><div class="a">{{a.EquipmentNumber}}</div></td>
                                        <td><div class="a">{{a.ConponentNumber}}</div></td>
                                        <td><div class="a">{{a.POFAPI1}}</div></td>
                                        <td><div class="a">{{a.POFAPI2}}</div></td>
                                        <td><div class="a">{{a.POFAPI3}}</div></td>
                                        <td><div class="a">{{a.RLI}}</div></td>
                                        <td><div class="a">{{a.AssessmentName}}</div></td>
                                        <td><div class="a">{{a.AssessmentDate}}</div></td>
                                        <td><div class="a">{{a.CommissionDate}}</div></td>
                                        <td><div class="a">{{a.RiskAnalysisPeriod}}</div></td>
                                        <td><div class="a">{{a.EquipmentType}}</div></td>
                                        <td><div class="a">{{a.ComponentType}}</div></td>
                                        <td><div class="a">{{a.InspectionDueDate}}</div></td>
                                        <td><div class="a">{{a.DesignCode}}</div></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th width="100px" style="text-align: center"><input type="checkbox" ></th>
                                        <th>Site</th>
                                        <th>Nhà máy</th>
                                        <th >Số thiết bị</th>
                                        <th>Số thành phần</th>
                                        <th>AP1</th>
                                        <th>AP2</th>
                                        <th>AP3</th>
                                        <th >RLI9(tháng)</th>
                                        <th>Tên đánh giá</th>
                                        <th>Ngày đánh giá</th>
                                        <th>Commission Date</th>
                                        <th style="overflow: auto; white-space: nowrap;">Thời gian phân tích<br> rủi ro</th>
                                        <th>Loại thiết bị</th>
                                        <th >Loại thành phần</th>
                                        <th style="overflow: auto;white-space: nowrap;">Hạn kiểm định</th>
                                        <th>Code thiết kế</th>
                                    </tr>
                                </tfoot>
                            </table>
                            </div>
                            <!--<button type="submit" name="_verification" style="text-align:left" class="btn btn-primary"><i class="fa fa-pencil">&emsp;Verification</i></button>-->
                            <button type="submit" name="_refresh" style="text-align:right" class="btn btn-primary"><i class="fa fa-spinner">&emsp;Refresh</i></button>
                            <button type="submit" name="_detail" id="detailT"style="text-align:left" class="btn btn-primary" disabled><i class="fa fa-info-circle" >&emsp;View Risk Summary</i></button>
                            <a id="#view1" class="btn btn-primary" data-toggle="modal" data-target="#viewHis1"><i class="fa fa-history" aria-hidden="true">&emsp;View History Inspection Request </i></a>
                            <div class="modal" id="viewHis1" style="margin-top: 10%">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content" style="width: 80%; margin: auto">

                                    <!-- Modal Header -->
                                <div class="modal-header">
                                      <span aria-hidden="true" style="font-size: 24px;font-weight: bold;color: #444444;font-family: Calibri;font-weight: bold;">Danh sách yêu cầu kiểm định</span>
                                      <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body" style="width: 90%;margin: auto">
                                        <table id="searchs">
                                            <tr>
                                                <th>Tên nhà máy</th>
                                                <th>Tên thiết bị</th>
                                                <th>Tên thành phần</th>
                                                <th>Tên bản ghi</th>
                                                <th>Ngày</th>
                                                <th>Nội dung kiểm định</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            {% for a in veri %}
                                            <tr>
                                                <td align="center">{{ a.facility }}</td>
                                                <td align="center">{{ a.equipment }}</td>
                                                <td align="center">{{ a.component }}</td>
                                                <td align="center">{{ a.proposal }}</td>
                                                <td align="center">{{ a.date }}</td>
                                                <td align="center">
                                                {% for b in vericontent %}
                                                    {% if b.veriID == a.id %}
                                                        {{ b.content }}
                                                    {% endif %}
                                                {% endfor %}
                                                </td>
                                                <td align="center">Gửi thành công</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                </div>

                                        <!-- Modal footer -->
                                <div class="modal-footer" style="margin: auto; width: 90%">
                                            <button type="button" class="btn btn-success"  style="background-color: #4575B7; border: 1px solid #204d74" data-dismiss="modal">Đóng</button>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <script>
                            $("input[id='checkboxT']").change(function (e) {
                            var isChecked = $(this).prop("checked");
                            if (isChecked == false) {
                                $("#detailT").attr("disabled", true);
                            }
                            else {
                                $("#detailT").attr("disabled", false);
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>


    </div>

</form>
{% endblock %}