{% extends 'BaseUI/BaseFacility/baseBusiness.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Risk Summary{% endblock %}

{% block vertical %}
    {#<a class="vertical">Risk<br>Summary</a>#}
    <a class="active">Tóm tắt<br>rủi ro</a>
    <a href="{% block pof %}{% endblock %}" class="{% if page == 'damageFactor' %}activeLink{% endif %}"><i class="fa fa-bomb">&emsp;Xác suất <br>&emsp;&emsp; thất bại</i></a>
    <a href="{% block fcof%}{% endblock %}" class="{% if page == 'fullyConse' %}activeLink{% endif %}"><i class="fa fa-money">&emsp;Thiệt hại tài chính CoF</i></a>
    {% if isTank == 0 and isShell == 0 %}<a href="{% block acof%}{% endblock %}" class="{% if page == 'areaBasedCoF' %}activeLink{% endif %}"><i class="fa fa-money">&emsp;Thiệt hại bề mặt</i></a>{% endif %}
    <a href="{% block matrix %}{% endblock %}" class="{% if page == 'riskMatrix' %}activeLink{% endif %}"><i class="fa fa-th">&emsp;Ma trận rủi ro</i></a>
    <a href="{% block chart %}{% endblock %}" class="{% if page == 'riskChart' %}activeLink{% endif %}"><i class="fa fa-bar-chart-o">&emsp;Biểu đồ rủi ro</i></a>
    {% if isTank or isShell %}<a href="{% block corri %}{% endblock %}" class="{% if page == 'corrsionRate' %}activeLink{% endif %}"><i class="fa fa-bomb">&emsp;Tốc độ ăn mòn</i></a>{% endif %}
    <a href="{% block backProposal %}{% endblock %}"><i class="fa fa-arrow-left">&emsp;Quay lại</i></a>
{% endblock %}