{% extends 'BaseUI/BaseCitizen/baseRiskSummary_Citizen.html' %}

{% load staticfiles %}
{% load static %}

{% block library %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
         fieldset.scheduler-border {
            border: solid 1px #DDDDDD !important;
            padding: 0 10px 10px 10px;
            border-bottom: none;
        }

        legend.scheduler-border {
            width: auto !important;
            border: none;
            font-size: 18px;
            font-weight: bold;
            color: blue;
        }
    </style>
{% endblock %}

<!----------------BLOCK MENU--------------->
{% block pof %}{% url 'damgeFactorCitizen' proposalID %}{% endblock %}
{% block ca%}{% url 'fullyConsequenceCitizen' proposalID %}{% endblock %}
{% block matrix %}{% url 'riskMatrixCitizen' proposalID %}{% endblock %}
{% block chart %}{% url 'riskChartCitizen' proposalID %}{% endblock %}
{% block backProposal %}{% url 'ListProposalCitizen' faci.facilityid  si.siteid %}{% endblock %}
<!---------------END BLOCK--------------->

{% block data-content %}
    <form method="post">
    {% csrf_token %}
        <div class="input-data">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"><b>Fully-Quantitative Financial Cosequense of Failure and Category</b></legend>
                <!---------- BLOCK DATA--------------->
                <!-------- block 1------------->
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-2"><b>D1</b></div>
                    <div class="col-md-2"><b>D2</b></div>
                    <div class="col-md-2"><b>D3</b></div>
                    <div class="col-md-2"><b>D4</b></div>
                </div>
                <div class="row">
                    <div class="col-md-4">Lưu lượng dòng chảy, bbls/ngày:</div>
                    <div class="col-md-2">{{ data.flow_rate_d1 }}</div>
                    <div class="col-md-2">{{ data.flow_rate_d2 }}</div>
                    <div class="col-md-2">{{ data.flow_rate_d3 }}</div>
                    <div class="col-md-2">{{ data.flow_rate_d4 }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Thời gian rò rỉ, ngày:</div>
                    <div class="col-md-2">{{ data.leak_duration_d1 }}</div>
                    <div class="col-md-2">{{ data.leak_duration_d2 }}</div>
                    <div class="col-md-2">{{ data.leak_duration_d3 }}</div>
                    <div class="col-md-2">{{ data.leak_duration_d4 }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">Lượng chất lỏng phát tán do rò rỉ, m<sup>3</sup>:</div>
                    <div class="col-md-2">{{ data.release_volume_leak_d1 }}</div>
                    <div class="col-md-2">{{ data.release_volume_leak_d2 }}</div>
                    <div class="col-md-2">{{ data.release_volume_leak_d3 }}</div>
                    <div class="col-md-2">{{ data.release_volume_leak_d4 }}</div>
                </div>
                <!-------------- block 2 ------------->
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-8">Lượng chất lỏng phát tán do vết nứt, barrels:</div>
                    <div class="col-md-4">{{ data.release_volume_rupture }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Thời điểm bắt đầu rò rỉ nước ngầm, ngày:</div>
                    <div class="col-md-4">{{ data.time_leak_ground }}</div>
                </div>
                <!-------------- block 3 ----------->
                <div class="row"></div>
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-2"><b>D1</b></div>
                    <div class="col-md-2"><b>D4</b></div>
                </div>
                <div class="row">
                  <div class="col-md-8">Thể tích của sản phẩm trong đất chịu rò rỉ, barrels:</div>
                        <div class="col-md-2">D1:{{ data.volume_subsoil_leak_d1 }}</div>
                        <div class="col-md-2">D4:{{ data.volume_subsoil_leak_d4 }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Thể tích của sản phẩm trong nước ngầm chịu rò rỉ, barrels:</div>
                        <div class="col-md-2">D1:{{ data.volume_ground_water_leak_d1 }}</div>
                        <div class="col-md-2">D4:{{ data.volume_ground_water_leak_d4 }}</div>
                </div>
                <!------------ block 4 ---------->
                <div class="row"></div>
                <div class="row">
                     <div class="col-md-8">Tổng số thùng lưu chất , barrels:</div>
                        <div class="col-md-4">{{ data.barrel_dike_rupture }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Tổng số thùng lưu chất trên mặt đất sau khi xảy ra hư hỏng, barrels:</div>
                        <div class="col-md-4">{{ data.barrel_onsite_rupture }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Tổng số thùng lưu chất dưới mặt đất sau khi xảy ra hư hỏng, barrels:</div>
                        <div class="col-md-4">{{ data.barrel_offsite_rupture }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Tổng số thùng lưu chất tiếp xúc với nước sau khi xảy ra hư hỏng, barrels:</div>
                        <div class="col-md-4">{{ data.barrel_water_rupture }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Chi phí môi trường do rò rỉ, $:</div>
                    <div class="col-md-4">{{ data.fc_environ_leak }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Chi phí môi trường do phá hủy, $:</div>
                    <div class="col-md-4">{{ data.fc_environ_rupture }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Tổng chi phí môi trường, $:</div>
                    <div class="col-md-4">{{ data.fc_environ }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Chi phí hư hỏng cấu kiện, $:</div>
                    <div class="col-md-4">{{ data.component_damage_cost }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Thiệt hại tài chính do dừng hoạt động kinh doanh, $:</div>
                    <div class="col-md-4">{{ data.business_cost }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Tổng hậu quả, $:</div>
                    <div class="col-md-4">{{ data.consequence }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">Loại hậu quả, $:</div>
                    <div class="col-md-4"><b>{{ data.consequencecategory }}</b></div>
                </div>
            </fieldset>
        </div>
    </form>
{% endblock %}